In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
df = pd.read_csv('mnist_test.csv')

In [3]:
df.head()

,label,1x1,1x2,1x3,1x4,1x5,1x6,1x7,1x8,1x9,...,28x19,28x20,28x21,28x22,28x23,28x24,28x25,28x26,28x27,28x28
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,1:],df.iloc[:,0],test_size=0.2,random_state=2)

In [5]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [6]:
clf1 = LogisticRegression()
clf2 = DecisionTreeClassifier()

In [7]:
clf1.fit(X_train,y_train)
clf2.fit(X_train,y_train)

C:\anaconda\envs\test\lib\site-packages\sklearn\linear_model\_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

DecisionTreeClassifier()

In [8]:
y_pred1 = clf1.predict(X_test)
y_pred2 = clf2.predict(X_test)

In [9]:
from sklearn.metrics import accuracy_score,confusion_matrix
print("Accuracy of Logistic Regression",accuracy_score(y_test,y_pred1))
print("Accuracy of Decision Trees",accuracy_score(y_test,y_pred2))

Accuracy of Logistic Regression 0.888
Accuracy of Decision Trees 0.811

In [10]:
print("Logistic Regression Confusion Matrix\n")
pd.DataFrame(confusion_matrix(y_test,y_pred1),columns=list(range(0,10)))

Logistic Regression Confusion Matrix

     0    1    2    3    4    5    6    7    8    9
0  206    0    1    1    0    6    0    0    0    1
1    0  231    2    1    0    1    0    3    1    0
2    1    0  182    4    0    2    4    4   10    2
3    0    0    4  168    0    8    0    1    5    0
4    1    0    3    2  166    1    3    2    3    8
5    1    0    2   13    2  123    2    2   13    4
6    3    1    3    0    2    6  180    1    0    0
7    2    2    7    3    3    1    0  202    2    3
8    1    1    8    7    0    9    4    0  156    8
9    1    0    4    4    9    1    0    3    1  162

In [11]:
print("Decision Tree Confusion Matrix\n")
pd.DataFrame(confusion_matrix(y_test,y_pred2),columns=list(range(0,10)))

Decision Tree Confusion Matrix

     0    1    2    3    4    5    6    7    8    9
0  185    0    4    2    1    5   10    0    5    3
1    0  221    5    0    1    2    2    1    6    1
2    4    1  161   11    3    3    3    8   11    4
3    0    1    1  159    1    9    1    2    9    3
4    2    4    4    1  143    5    6    2    4   18
5    5    1    0    8    4  127    5    4    6    2
6    4    3    8    1    1    8  152    1   11    7
7    2    1    7    9    7    3    1  183    2   10
8    3    1    5    9   12    4    2    5  145    8
9    1    2    1    4   16    3    4    2    6  146

In [12]:
from sklearn.metrics import precision_score,recall_score,f1_score

In [13]:
precision_score(y_test,y_pred1,average='weighted')

0.8888294791750739

In [14]:
recall_score(y_test,y_pred1,average='weighted')

0.888

In [15]:
f1_score(y_test,y_pred1,average='weighted')

0.8881470593507417

In [16]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred1))

              precision    recall  f1-score   support

           0       0.95      0.96      0.96       215
           1       0.98      0.97      0.97       239
           2       0.84      0.87      0.86       209
           3       0.83      0.90      0.86       186
           4       0.91      0.88      0.89       189
           5       0.78      0.76      0.77       162
           6       0.93      0.92      0.93       196
           7       0.93      0.90      0.91       225
           8       0.82      0.80      0.81       194
           9       0.86      0.88      0.87       185

    accuracy                           0.89      2000
   macro avg       0.88      0.88      0.88      2000
weighted avg       0.89      0.89      0.89      2000